@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Locomotive Scroll */
@import "locomotive-scroll/dist/locomotive-scroll.css";

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}
