@tailwind base;
@tailwind components;
@tailwind utilities;

/* Locomotive Scroll */
@import "locomotive-scroll/dist/locomotive-scroll.css";

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}
